.container-CreateShareholder {
    background-color: #ffffff;
    width: 98%;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px #1414142e;
    border-radius:  5px;
    display: flex;
    flex-direction: row;
}

.layout2 {
    display: flex;
}