ul {
    list-style: none;
}

.navbar-container {
    width: 256px;
    background-color: #fff;
    position: fixed;
    top: 70px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px);
    transition: 0.3s;
    &.hide {
        width: 85px;
    }
}
.navbar {
    width: 100%;
    height: calc(100vh - 70px - 36px);
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 0;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #00000000;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #999;
    }

    .navbar-ul {
        padding: 0;
        margin: 5px 0 0 0;
        margin-block-start: 0em;
        margin-block-end: 0em;

        .navbar-li {
            padding: 8px 0;
            &.bottom-line {
                border: 1.25px solid #ededed;
            }
            a {
                height: 40px;
                display: flex;
                align-items: center;
                margin: 0 8px;
                // border: solid 1px #141414;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: $primary-color2;
                }
                .navbar-content {
                    color: #141414;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex: 1 1 auto;
                    &.hide {
                        justify-content: center;
                        .left {
                            .icon {
                                margin-right: 0;
                            }
                        }
                    }
                    .left {
                        display: flex;
                        align-items: center;
                        .num {
                            margin-left: 8px;
                            line-height: 20px;

                            padding: 2px 7.5px;
                            margin-right: 10px;
                            background: #ededed;
                            border-radius: 2px;
                        }
                        .icon {
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                        }
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        .icon {
                            padding: 0 8px;
                            transition: 0.3s;
                            font-weight: 300;
                            &.icon-rotate {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

.subnavbar {
    transition: all 0.3s;
    overflow: hidden;

    .subnavbar-ul {
        padding: 0;
        margin: 5px 0 0 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
        .subnavbar-li {
            margin: 0;
            a {
                height: 40px;
                display: flex;
                align-items: center;
                margin: 0 8px;
                color: #6b6b6b;
                text-decoration: unset;
                cursor: pointer;
               &.btnActive{
                background-color: $primary-color2;

               }
                .subnavbar-content {
                    line-height: 22px;

                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;

                    .num {
                        margin-left: 8px;
                        line-height: 20px;
                        // font-weight: normal;
                        padding: 2px 7.5px;
                        margin-right: 10px;
                        background: #ededed;
                        border-radius: 2px;
                    }
                    .icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }

                .menu_active {
                    background: $primary-color8 !important;
                    color: #ffffff !important;
                }
            }
        }
    }
}
.bottom-button {
    height: 36px;
    margin: 16px;
    .hide-btn {
        width: 100%;
        height: 36px;
        border: 1.5px solid $primary-color1;
        color: $primary-color1;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $primary-color2;
        }
        .icon {
            transition: 0.3s;
            &.icon-rotate {
                transform: rotate(180deg);
            }
        }
    }
}

.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}
